<!DOCTYPE HTML>
<html>
<head>
    <title>ICash - Earn money by watching video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background: transparent;">
<center>
    <h4 style="color: #31a5ce; font-weight: 700; font-size: 35px; position: relative;">ICash - The truly money</h4>
</center>
<center>
    <b>Hello boss, how are you today?</b>
</center>
</body>
</html>